:root {
    --bg-color: oklch(12.9% 0.042 264.695);     /* slate-950 */
    --panel-bg: oklch(20.8% 0.042 265.755);     /* slate-900 */
    --border-color: oklch(37.2% 0.044 257.287); /* slate-700 */
    --text-color: oklch(92.8% 0.006 264.531);   /* gray-200 */
    --accent-color: oklch(71.5% 0.143 215.221); /* cyan-500 */
    --warn-color: oklch(76.9% 0.188 70.08);     /* amber-500 */
    --danger-color: oklch(70.4% 0.191 22.216);  /* red-400 */
}

body.theme-oled {
    --bg-color: #000;
    --panel-bg: oklch(14.5% 0 0);       /* neutral-950 */
    --border-color: oklch(26.9% 0 0);   /* neutral-800 */
    --text-color: oklch(87% 0 0);       /* neutral-300 */
    --accent-color: oklch(62.7% 0.194 149.214); /* green-600 */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    transition: background-color 0.5s ease;
    overflow-x: hidden;
    touch-action: manipulation;
}

.digital-font {
    font-family: 'Roboto Mono', monospace;
}

/* SVG 容器 */
.progress-circle > svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.progress-circle {
    --percent: 0;  /* 百分数 */
    --size: 16px;  /* 尺寸大小 */
    --border-width: calc(var(--size) / 16);  /* 环宽（粗细） */

    position: relative;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}

/* 进度条圆环 */
.progress-circle circle {
    --r: calc((var(--size) - var(--border-width)) / 2);

    cx: calc(var(--size) / 2);
    cy: calc(var(--size) / 2);
    r: var(--r);
    fill: none;
    stroke-width: var(--border-width);
    stroke-linecap: round;
    transition: stroke-dasharray .06s cubic-bezier(0.25, 0.46, 0.45, 0.94), stroke 0.25s ease, opacity 0.15s ease;
}

/* 控制台日志区域 */
#console-log {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.75rem;
    max-height: 150px;
    overflow-y: auto;
    scrollbar-width: thin;
}

/* 调试面板 */
#debug-panel {
    backdrop-filter: null;
    -webkit-backdrop-filter: null;
}

.modal {
    transition: opacity 0.3s ease;
}
.modal.hidden {
    pointer-events: none;
    opacity: 0;
}

#permission-overlay {
    z-index: 100;
}

/* 范围滑块样式微调 */
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: var(--accent-color);
    margin-top: -4px;
    transition: background 0.15s ease;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: hsl(from var(--accent-color) h s calc(l - 5));
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: var(--border-color);
    border-radius: 4px;
}

/* 拖拽 */
.draggable {
/*     position: relative; */
    cursor: move;       /* 鼠标指针样式 */
    touch-action: none; /* 取消默认的触摸处理（如缩放和滚动） */
    user-select: none;  /* 防止拖拽时选中文字 */
}
